.item {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
}
.img {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.div {
  width: 100%;
}
.titlediv {
  display: flex;
  justify-content: space-between;
}
.pricediv {
  display: flex;
  gap: 4px;
}
.heartbtn {
  border: none;
  background-color: #ffffff;
  width: 36px;
  height: 36px;
}
.heart {
  width: 24px;
  height: 24px;
  stroke: #101828;
  fill: #ffffff;
}
.clickedHeart {
  width: 24px;
  height: 24px;
  stroke: #e44848;
  fill: #e44848;
}
.ratingdiv {
  display: flex;
  margin-top: 8px;
  align-items: center;
  gap: 12px;
}
.inratdiv {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reviews {
  text-decoration: underline;
}
.star {
  width: 16px;
  height: 16px;
  fill: #ffc531;
}
.mappin {
  width: 16px;
  height: 16px;
  stroke: #101828;
  fill: #ffffff;
}
.text {
  margin-top: 20px;
  color: #475467;
}
.btn {
  color: #ffffff;
  background-color: #e44848;
  border-radius: 30px;
  width: 166px;
  height: 56px;
  margin-top: 20px;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #d84343;
}
